
\documentclass{article}

\usepackage[utf8]{inputenc}


\begin{document} 

{% if title -%}
    \title{ {{ title }} }

    {% if date %}
    \renewcommand{\today}{ {{ date }} }
    {% endif %}

    {% if authors -%}
        \author{
            {% for author in authors -%}
                {{ author }} \\
            {% endfor -%}
        }
    {% endif %}

    \maketitle

{% endif -%}


%% Body start.
{{body}}

%% Body end.

\end{document}